body{
    background-color: black;
    color: aliceblue;
    font-family: "Comic Sans MS", cursive;
}

a,h2{
    color: aliceblue;
    text-decoration: none;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

form{
    height: 100%;
    margin-top: 4%;
}

table{
    width: 80%;
    height: 80%;

    border: 2px solid aliceblue;
    border-radius: 5px;

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

th{
    height: 10%;
    color: black;
    background-color: rgba(240, 248, 255, 0.8);
    border:1px solid aliceblue;
}

td{
    height: 14%;
    background-color: rgba(0, 0, 0, 0.5);
    border:1px solid aliceblue;
}

td:hover{
    cursor: pointer;
}

.background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('../media/home-bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
    text-align: center;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 2%;
}

.upper-bar{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.95));
    border-bottom: 5px solid black;
    height: 8%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.bordered{
    height: 80%;
    width: 80%;

    background-color: rgba(0, 0, 0, 0.6);
    border: 5px solid aliceblue;
    border-radius: 20px;
    
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.index-button{
    margin-top: 6%;
    margin-bottom: 6%;
    margin-right: 20%;
    margin-left: 20%;

    border: 5px solid aliceblue;
    border-radius: 50px;
    background-color: rgba(240, 248, 255, 0.2);
}

.index-button:hover{
    background-color: rgba(240, 248, 255, 0.5);
    cursor: pointer;
    
}

.home-button{
    padding: 0.3% 2%;
    border: 5px black solid;
    border-radius: 10px;
    color: black;
    background-color: aliceblue;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    margin-left: 2%;
}

.home-button:hover, .index-button:hover, .button1:hover, .button2:hover{
    background-color: rgba(240, 248, 255, 0.5);
    cursor: pointer;
}



.form-item{
    margin-top: 1.2%;
    margin-bottom: 1.2%;
}

.horizontal-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.error{
    color: rgb(255, 50, 50);
}

.modal{
    display: none;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border: 5px solid aliceblue;
    border-radius: 20px;

    position: fixed;
    width: 30%;
    height: 20%;
    top:80%;
    left:50%;
    z-index: 1;
    transform: translate(-50%, -50%);

    justify-content: center;
    flex-direction: column;
}

.button1{
    padding: 0.5% 2.5%;
    border: 2px black solid;
    border-radius: 12px;
    color: black;
    background-color: aliceblue;
}

.button2{
    padding: 4% 8%;
    border: 2px black solid;
    border-radius: 12px;
    color: black;
    background-color: aliceblue;
}

.row:hover{
    color: black;
    background-color: rgba(240, 248, 255, 0.8);
}

.info{
    text-align: start;
    margin: 2%;
    color: rgba(240, 248, 255, 0.9);
}

.blur{
    width: 100%;
    height: 100%;
    position:fixed;

    top: 0;
    left: 0;

    backdrop-filter: blur(10px);
}

.full-image{
    position: absolute;
    left: 50%;

    transform: translate(-50%, 0);
}
