{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block navbar %} <h1>Inicio</h1> {% endblock %}

{% block content %}

<div class="bordered">
    <div id="b1" class="index-button">
        <p>Agregar nuevo producto</p>
    </div>

    <div id="b2" class="index-button">
        <p>Ver productos</p>
    </div>

    <div id="b3" class="index-button">
        <p>Agregar nuevo pedido</p>
    </div>

    <div id="b4" class="index-button">
        <p>Ver pedidos</p>
    </div>

    <div id="b5" class="index-button">
        <p>Estadísticas</p>
    </div>
</div>


{% endblock %}

{% block script %}<script src="{{ url_for('static', filename='js/index.js') }}"></script>{% endblock %}
