{% extends "base.html" %}

{% block title %} Ver {{ kind }}s {% endblock %}

{% block navbar %} 

<a class="home-button" href="/">Inicio</a>

<h1>Lista de {{ kind }}s</h1>

{% endblock %}

{% block content %}

<div class="bordered">

    <table>

        <tr>

        {% for column in table_headers %}
        
        <th>{{ column }}</th>

        {% endfor %}

        </tr>


        {% for row in table_content %}

            {% if row %}

                <tr class="row" onclick="location.href = '{{ url_for(row[5][0], id=row[5][1]) }}'">

                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>
                        {% if kind == 'producto' %}
                            {% for image in row[4] %}

                            <img src="{{ image }}" width=120 height=120 alt="foto">

                            {% endfor %}
                        {% else %}

                            {{ row[4] }}
                        
                        {% endif %}
                    </td>

                </tr>

            {% endif%}

        {% endfor %}



    </table>

    <div class="horizontal-flex">
        <form action="{{ url_for('ver_'+kind+'s', page=prev) }}" >
            <input type="submit" value="<" {{ prev_button }}>
        </form>
        <h2>{{ page }}</h2>
        <form action="{{ url_for('ver_'+kind+'s', page=next) }}">
            <input type="submit" value=">" {{ next_button }}>
        </form>
    </div>
</div>

{% endblock %}